.Eventos{
    padding-top: 5%;
    height:  100vh;
    text-align: center;
}

.Eventos h1{
    font-size: 3rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 40px;

}
.Eventos h2{
    font-size: 2rem;
    font-weight: 500;
    color: #000;
    margin-bottom: 20px;
}

.gridEventos h2{

    font-size: 1.5rem;padding-top: 5%;
    margin:0;
    padding: 0;
}

.gridEventos p{
  font-size: 1rem;
}

.gridEventos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 40px;
    margin: 0 10%;
    height: auto;
}

.cuadradoE {
  border: 2px solid black; /* Agrega un borde negro de 2px */
  height:350px;
  margin-bottom: 20px;

}


  


