/* src/Home.css */
.Home {
  width: 100%;
  margin: 0;
}

/* Estilos para la sección Intro */
.Home .intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.solutions-btn {
  grid-area: solutions-btn;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


.btn-casos {
  display: inline-block;
  padding: 12px 24px;
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  ;
}

.btn-casos:hover {
  transform: scale(1.05);
  background-color: #0056b3;
}


/* Sección: Casos de éxito */
.section__paragraph1 {
  height: 100vh;
  display: flex;
  flex-direction: column;  /* Organiza el contenido en columna */
  justify-content: center; /* Centra verticalmente */
  align-items: center;     /* Centra horizontalmente */
  scroll-snap-align: center; /* Si se utiliza scroll snapping nativo */
  text-align: center;
  margin:5%;
}

/* Sección: Nuestras soluciones */
.section__paragraph2 {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;           /* Dos columnas en la primera fila */
  grid-template-rows: auto auto;            /* Dos filas */
  grid-template-areas:
    "solutions-text solutions-carousel"     /* Primera fila: dos columnas */
    "solutions-btn  solutions-btn";           /* Segunda fila: el botón abarca ambas columnas */
  align-items: center;
  padding: 7%;
  box-sizing: border-box;
}
/* Sección: Estadísticas - Contenedor completo */
.section__paragraph3 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* Grid de casos de éxito */
.success-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 columnas */
  gap: 50px;  /* Ajusta el espacio entre ítems según lo necesites */
  max-width: 1500px;
  width: 100%;
  margin: auto auto;
  margin-bottom: 5%;
  align-items: center;
}


.success-item {
  max-width: 400px;

}

.success-item img {
  max-height: 100px;
  width: auto;
  transition: transform 0.3s ease-in-out;
  margin-bottom:10%;
  
}
img[alt="Proyecto 1"] {
 
  width: 160px;       /* Cambia el ancho */
  /* O cualquier otra propiedad CSS */
}

.success-item img:hover {
  transform: scale(1.2); /* Efecto al pasar el mouse */
}

.success-item p {
  font-weight: 500;
  font-size: 0.8em;
}

.success-item h3{
  padding-bottom: 0;
  font-size:1.5em;
}

/* Grid de soluciones */


.solutions-text{
  padding-right: 50px;
  grid-area: solutions-text;

}

/* Estilo base para cada slide */
.solution-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Por defecto, todos se muestran con un tamaño reducido y menor opacidad */
.keen-slider__slide {
  transform: scale(0.8);
  opacity: 0.6;
}

/* El slide activo se mostrará a tamaño completo y con opacidad 1 */
.keen-slider__slide.keen-slider__slide--active {
  transform: scale(1);
  opacity: 1;
}
/* Clase para las secciones que se desplazarán manualmente */
/* Se descuenta la altura del header (70px) */
.section-scroll {
  height: 100vh;
  scroll-snap-align: center;
  align-items: center;
  justify-content: center;
}


.animate-left.animate-grid.active a , .solutions-btn .btn-casos{
  color:#fff;
  font-weight: 500;
  font-size: 1.1rem;
}

/* Estado base: elemento oculto y desplazado a la izquierda */
.animate-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* Animación de entrada: el elemento se posiciona correctamente y se vuelve opaco */
.animate-left.active {
  opacity: 1;
  transform: translateX(0);
}

/* Animación de salida: por ejemplo, el elemento se desplaza hacia la derecha y se desvanece */
.animate-left.exit {
  opacity: 0;
  transform: translateX(50px);
}


.animate-text{
  padding-bottom: 100px;
}



/* Animación para elementos de la sección 3 (entrada desde abajo) */
.animate-up {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.animate-up.active {
  opacity: 1;
  transform: translateY(0);
}

/* Animación de salida para sección 3: el elemento se desplaza hacia arriba al salir */
.animate-up.exit {
  opacity: 0;
  transform: translateY(-50px);
}

/* Responsive para móviles (hasta 780px) */
@media (max-width: 780px) {
  /* Ajuste en la sección Intro */
  .intro img {
    width: 100%;
    max-width: 400px;
    height: auto;
    padding-left: 10%;

  }
  
  /* Sección Casos de éxito */
  .section__paragraph1 {
    padding: 1rem;
    height: auto; /* Permite que el contenido se adapte sin forzar 100vh */
  }
  .section__paragraph1 h2 {
    font-size: 1.2rem;
  }
  .section__paragraph1 p {
    font-size: 0.9rem;
  }
  .success-grid {
    margin: 20px 0;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);


  }
  .success-item {
    max-width: 90%;
  }
  .success-item img {
    max-height: 40px;
    width: auto;
  }
  
  /* Sección Nuestras soluciones */
  .section__paragraph2 {
    text-align: center;
    padding: 2%;
    height: auto;
  }
  .solutions-text {
    text-align: center;
    padding-right: 0;
    margin-bottom: 1rem;
  }
  .solutions-text h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  .solutions-text p {
    font-size: 0.9rem;
  }
  .solutions-carousel {
    padding: 0 10px;
    grid-area: solutions-carousel;

    justify-content: center;
  }
  
  
  
  /* Ajuste en el scroll snapping (si lo requieres) */
 
  .section-scroll {
    height: 100vh;
    padding: 2rem 0;
    grid-template-columns: 1fr; /* Una sola columna */

  }
  .success-item h3{
    font-size: 0.5em;
  }

  .success-item p{
    font-size: 0.2em;
  }

  .success-item img {
    max-height: 20px;
    width: auto;
  }
  
}

/* Responsive */
@media (max-width: 768px) {
  .success-item img {
    max-height: 60px;
    width: auto;
  }
  .intro img {
    max-width: 90%; /* Ajusta el tamaño de la imagen para dispositivos pequeños */
    height: auto;
  }
  
  
  
  

  
  .section {
    padding-left: 1rem; /* Reduce el padding en dispositivos móviles */
  }
  
  .success-grid{
    gap: 20px;
  }

  .success-item h3{
    font-size: 1em;
  }

  .success-item p{
    font-size: 0.5em;
  }
}


@media (max-width: 480px) {
  /* Ajuste en la sección Intro */
  .intro img {
    max-width: 90%;
    height: auto;
    padding: 0;
  }

  /* Ajuste para los botones */
  .btn-casos {
    padding: 10px 20px;
    font-size: 0.9rem;
  }

  /* Ajuste en la sección Casos de éxito */
  .success-grid {
    grid-template-columns: 1fr; /* Una sola columna para mayor legibilidad */
    gap: 10px;
  }
  
  .success-item {
    max-width: 100%;
    text-align: center;
  }
}
