/* Botón para abrir el widget */
#amazon-connect-open-widget-button {
    background-color: #ff2c2c !important; /* Rojo corporativo */
    color: #ffffff !important; /* Texto blanco */
    border-radius: 50% !important; /* Forma circular */
    width: 60px !important;
    height: 60px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease !important;
}
  
  #amazon-connect-open-widget-button:hover {
    transform: translateY(-5px) !important;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15) !important;
  }
  
  /* Botón para cerrar el widget */
  #amazon-connect-close-widget-button {
    background-color: #ff2c2c !important;
    color: #ffffff !important;
    border-radius: 50% !important;
    width: 60px !important;
    height: 60px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease !important;
  }
  
  #amazon-connect-close-widget-button:hover {
    transform: translateY(-5px) !important;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15) !important;
  }

  #amazon-connect-open-widget-button,
#amazon-connect-close-widget-button {
  border-radius: 50% !important;
  width: 56px !important;
  height: 56px !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2) !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease !important;
}

#amazon-connect-open-widget-button:hover,
#amazon-connect-close-widget-button:hover {
  transform: scale(1.05) !important;
}

  