.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* La app ocupará al menos el 100% del viewport */
  /* Ajusta o elimina el padding si es necesario */
  padding: 0;
}

.content {
  flex: 1;  /* El área de contenido se expande para ocupar el espacio restante */
}

main {
  padding: 20px;
  width: 100%;  /* Asegura que el contenido principal ocupe todo el ancho */
}

/* Ejemplo de media query para móviles (ajusta según necesites) */
@media (max-width: 768px) {
 
}
