/* src/index.css */

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
/* src/index.css */

html, body {
  scroll-behavior: smooth;
}

html, body, #root {
  height: 100%;
  margin: 0;
  width: 100%;
  padding: 0;
  flex-direction: column;
}

main {
  flex: 1;
}

.text-container {
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  font-size: 96px;
  color: transparent;
  opacity: 0.8;
  user-select: none;
  text-shadow: 1px 1px rgba(0,0,0,0.1);
}

/* Variables para modo día (por defecto) */
:root {
  --bg-color: #727272;
  --text-color: #000000;
  --header-footer-bg: rgba(255, 255, 255, 0.9); /* Fondo claro, casi blanco */
  --accent-color: #e40913;
}

/* Forzamos modo noche si la clase .night está en el body */
body.night {
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --header-footer-bg: rgba(20, 20, 20, 0.9); /* Fondo oscuro, casi negro */
  --accent-color: #e40913;
}
/* Modo Noche: Fondo Cosmic Nebula */
body.night {
  background: linear-gradient(135deg, #1d1d1d, #0f0f0f, #0c0c0c);
  background-size: 200% 200%;
  animation: oceanoMinimal 20s ease infinite;
}

@keyframes oceanoMinimal {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


body.night header,
body.night footer {
  background-color: rgba(0, 0, 0, 0.95);
  color: #e9ecef;
  transition: background-color 0.3s, color 0.3s;
  
  
}

body.day h2, h3,p a, p, ul li a{
  color: var(--text-color)
}


/* Forzamos modo día si la clase .day está en el body */
body.day {
  --bg-color: #727272;
  --text-color: #000000;
  --header-footer-bg: rgba(255, 255, 255, 0.9); /* Fondo claro, casi blanco */
  --accent-color: #000000;
}
/* Modo Día: Fondo Tech Grid */
body.day {
  background: #F4F5F7
}


body.day header,
body.day footer {
  background-color: #F4F5F7;
  color: #343a40;
  transition: background-color 0.3s, color 0.3s;
 
}
body.day h2, h3,p a, p, ul li a{
  color: var(--text-color)
}


/* Ejemplo de uso de las variables */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

header, footer {
  background-color: var(--header-footer-bg);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

a, button {
  color: var(--accent-color);
}



/* Puedes usar var(--accent-color) en botones, enlaces, etc. */




body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}
header {
  font-family: 'Outfit', sans-serif;
  color: white;
  padding: 15px;
  font-size: 1.5em;
}
nav {
  font-family: 'Outfit', sans-serif;
  padding: 10px;
  font-weight: 100;
  font-size: 0.5em;
}
nav a {
  margin: 0 15px;
  text-decoration: none;
  font-weight: 200;
}
h1 {
  font-family: 'Raleway', sans-serif;
  margin: 3rem 0;
  font-weight: 200;
  font-size: 2rem;
}
h2, h3 {
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  padding-bottom: 20px;
}
p {
  font-family: 'DM Sans', sans-serif;
  margin: 10px 0;
  line-height: 1.6;
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 20px;


}
small {
  font-family: 'Urbanist', sans-serif;
  font-size: 0.85em;
  color: #777;
  display: block;
  font-weight: 300;
}

footer h3 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
}
footer p {
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
}
button{
  font-family: 'Lexend', sans-serif;  
  font-weight: 100;
}

@media (max-width: 768px) {
  nav {
    font-size: 0.8em;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
  small {
    font-size: 0.7em;
  }
  footer h3 {
    font-size: 1.5rem;
  }
  footer p {
    font-size: 1rem;
  }
  button {
    font-size: 1rem;
  }
  a{
    color: var(--text-color);
  }
  html{
  
    overflow-x: hidden;


}

  body{
    overflow-x: hidden;
  }
  
}