/* ======== Reset y Configuración Global ======== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  flex: 1;
}

/* ======== Estilos para Modo Día ======== */
body.day {
  background: #F4F5F7;
  color: #000;
  transition: background 0.3s ease, color 0.3s ease;
}

body.day header, body.day footer {
  background-color: #F4F5F7;
  color: #343a40;
  transition: background 0.3s, color 0.3s;
}

body.day a, body.day button {
  color: inherit;
}

/* ======== Estilos para Modo Noche ======== */
body.night {
  background: linear-gradient(135deg, #1d1d1d, #0f0f0f, #0c0c0c);
  background-size: 200% 200%;
  color: #e0e0e0;
  transition: background 0.3s ease, color 0.3s ease;
  animation: backgroundShift 15s infinite alternate ease-in-out;
}

body.night header, body.night footer {
  background-color: rgba(20, 20, 20, 0.9);
  color: #e9ecef;
  transition: background 0.3s, color 0.3s;
}

body.night a, body.night button {
  color: #e40913;
}

@keyframes backgroundShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* ======== Tipografías y Elementos Generales ======== */
body {
  font-family: 'DM Sans', sans-serif;
  transition: background 0.3s, color 0.3s;
}

header {
  font-family: 'Outfit', sans-serif;
  padding: 15px;
  font-size: 1.5em;
}

nav {
  font-family: 'Outfit', sans-serif;
  padding: 10px;
  font-size: 0.8em;
  font-weight: 100;
}
a {
  font-weight: 100;
}
nav a {
  margin: 0 15px;
  text-decoration: none;
  font-weight: 200;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  margin: 3rem 0;
  font-weight: 200;
}

h2, h3 {
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  padding-bottom: 20px;
}

p {
  font-family: 'DM Sans', sans-serif;
  margin: 10px 0;
  line-height: 1.6;
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

small {
  font-family: 'Urbanist', sans-serif;
  font-size: 0.85em;
  color: #777;
  display: block;
  font-weight: 300;
}

footer h3 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
}

footer p {
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
}

button {
  font-family: 'Lexend', sans-serif;
  font-weight: 100;
}

/* ======== Responsividad ======== */
@media (max-width: 768px) {
  h1 { font-size: 1.8rem; }
  h2 { font-size: 1.5rem; }
  h3 { font-size: 1.2rem; }
  p { font-size: 1rem; }
  small { font-size: 0.7em; }
  footer h3 { font-size: 1.5rem; }
  footer p { font-size: 1rem; }
  button { font-size: 1rem; }
  a { color: var(--text-color); }
}

@media (max-width: 480px) {
  h1 { font-size: 1.5rem; }
  h2 { font-size: 1.2rem; }
  h3 { font-size: 1rem; }
  p { font-size: 0.9rem; }
  small { font-size: 0.7em; }
}
